<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="loginForm">
                <form class="loginForm" method="POST" (submit)="loginUser()">
                    <h2 class="text-center">Login</h2>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-user"></span>
                                </span>
                            </div>
                            <input type="username" name="username" id="username" class="form-control"
                                placeholder="Unesite username" [(ngModel)]="korisnik.username" #username="ngModel"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-lock"></span>
                                </span>
                            </div>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="Unesite password" [(ngModel)]="korisnik.password" #password="ngModel"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>